/* You can add global styles to this file, and also import other style files */
.b-page-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


.custom-btn-primary-light {
    background-color: white; /* Bootstrap's primary blue color */
    color: #07775e; /* Text color */
    border: #07775e; /* Optional: to remove the default border */
    padding: 10px 20px; /* Optional: to give the button padding */
    font-size: 16px; /* Optional: to adjust font size */
    border-radius: 5px; /* Optional: to round the corners */
}

.custom-btn-primary-light:hover {
    background-color: #fac12b; /* Replace with your desired hover background color */
    border-color: #fac12b; /* Replace with your desired hover border color */
    color: white; /* Replace with your desired hover text color */
    }


    
.custom-btn-primary-dark {
    background-color: #07775e; /* Bootstrap's primary blue color */
    color: white; /* Text color */
    border: #07775e; /* Optional: to remove the default border */
    padding: 10px 20px; /* Optional: to give the button padding */
    font-size: 16px; /* Optional: to adjust font size */
    border-radius: 5px; /* Optional: to round the corners */
}

.custom-btn-primary-dark:hover {
    background-color: #fac12b; /* Replace with your desired hover background color */
    border-color: #fac12b; /* Replace with your desired hover border color */
    color: white; /* Replace with your desired hover text color */
}