/* filepath: /d:/projects/Angular/tazkify/src/app/main-content/main-content.component.scss */
.background-image {
    background-image: url('/assets/images/bg-image-main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
